*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Chakra Petch", Verdana, Garamond;
}

body {
  height: 100vh;
  min-width: 400px;
  background-image: url("/resources/kyogre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Chakra Petch", Verdana, Garamond;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto auto auto auto auto 1fr;
  min-height: 100vh;
  min-width: 600px;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width: clamp(275px, 100vw, 500px);
  height: 100px;
}

.search-label {
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  font-weight: 500;
  text-shadow:
    1px 1px 1px black,
    1px 1px 3px black,
    1px 1px 5px rgb(0, 0, 0),
    1px 1px 6px rgb(0, 0, 0),
    2px 2px 1px black,
    2px 2px 3px rgb(0, 0, 0),
    2px 2px 4px rgb(0, 0, 0),
    -1px -1px 1px rgb(0, 0, 0),
    -1px -1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  mix-blend-mode: overlay;
}

input {
  height: 25px;
  width: 62%;
  grid-column: 1;
  grid-row: 2;
  border-radius: 5px;
  padding: 2px;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.301);
  color: rgb(255, 255, 255);
  border: 2px double black;
  overflow: scroll;
}

input::placeholder {
  color: white;
}

input:active,
input:focus {
  outline: 2px solid #0e2027;
}

#search-button {
  grid-column: 1;
  grid-row: 2;
  width: 20%;
  height: 25px;
  justify-self: flex-end;
  background: rgba(0, 0, 0, 0.301);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-right: 48px;
  cursor: pointer;
  border: 2px double black;
}

.pkmn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-column: 2;
  grid-row: 3;
  box-shadow: 0px 0px 5px 1px black;
  color: rgb(255, 255, 255);
  width: clamp(275px, 100vw, 500px);
  height: 320px;
  padding: 1px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 3px double black;
}

#pokemon-name {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin-bottom: 5px;
  margin-top: 5px;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  text-shadow: 1px 1px 2px black;
}

#pokemon-id {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  grid-column: 1;
  grid-row: 1;
  margin-top: 30px;
  justify-self: center;
  text-shadow: 1px 1px 2px black;
}

#weight,
#height {
  font-size: clamp(1rem, 1vw, 1.3rem);
  margin: 2px;
  padding: 1px;
  margin-left: 6px;
  text-shadow: 1px 1px 2px black;
}

#size-container {
  display: grid;
  height: auto;
  grid-column: 1;
  grid-row: 3;
}

.type {
  font-size: clamp(1rem, 1vw, 1.3rem);
  padding: 1px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px black;
}

#sprite-container {
  grid-column: 1 / 4;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  width: auto;
  height: auto;
}

#sprite-container img {
  scale: 1.5;
}

#toggle-all-sprite-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 46px;
  height: 46px;
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

div.btn-overlay {
  position: relative;
  height: 46px;
  width: 46px;
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
  top: -10px;
  left: 2px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
}

.toggle-sprite-btn {
  width: 46px;
  height: 46px;
  grid-row: 1;
  grid-column: 1;
}

#all-sprite-container {
  display: grid;
  grid-template-columns: 92px 92px;
  grid-template-rows: 92px 92px;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  z-index: 3;
}

#hide-sprites-container {
  z-index: 3;
  border: none;
  background: transparent;
  grid-row: 3;
  cursor: pointer;
  color: white;
  font-family: inherit;
}
#front-sprite,
#back-sprite,
#front-shiny-sprite,
#back-shiny-sprite,
.front-shiny-sprite {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

#sprite-popup-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 20px 1fr;
  justify-self: center;
  align-self: center;
  width: 80%;
  max-width: 400px;
  height: 400px;
  position: absolute;
  z-index: 4;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5px);
  z-index: 0;
}

.sprite-btn {
  background: transparent;
  border: none;
}
#sprite {
  object-fit: cover;
}
.hidden {
  display: none !important;
}
#types {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
  align-content: center;
}
.grass {
  background: #7ac74c;
  border-radius: 5px;
}
.electric {
  background: #f7d02c;
  border-radius: 5px;
}
.ice {
  background: #96d9d6;
  border-radius: 5px;
}

.dragon {
  background: #6f35fc;
  border-radius: 5px;
}

.ground {
  background: #e2bf65;
  border-radius: 5px;
}

.fairy {
  background: #d685ad;
  border-radius: 5px;
}

.water {
  background: #6390f0;
  border-radius: 5px;
}

.dark {
  background: #705746;
  border-radius: 5px;
}

.normal {
  background: #a8a77a;
  border-radius: 5px;
}

.poison {
  background: #a33ea1;
  border-radius: 5px;
}

.ghost {
  background: #735797;
  border-radius: 5px;
}
.bug {
  background: #a6b91a;
  border-radius: 5px;
}
.rock {
  background: #b6a136;
  border-radius: 5px;
}
.fire {
  background: #ee8130;
  border-radius: 5px;
}

.psychic {
  background: #f95587;
  border-radius: 5px;
}

.steel {
  background: #b7b7ce;
  border-radius: 5px;
}

.fighting {
  background: #c22e28;
  border-radius: 5px;
}

.flying {
  background: #a98ff3;
  border-radius: 5px;
}

.table-container-1 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  text-align: center;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

.table-container-2 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  justify-self: center;
}

.stat-heading-tr > th {
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding: 2px;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  text-shadow:
    1px 1px 2px black,
    1px 1px 1px black;
  color: rgb(255, 255, 255);
}

.stats-tr > td {
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-align: center;
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 2px black;
  color: rgb(255, 255, 255);
}

.pkmn-stats-table {
  width: clamp(275px, 100vw, 450px);
}

div.table-container-1 * th {
  border: none;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: 300;
}

a {
  color: #63dbf0;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

.credit {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: center;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.801);
  font-weight: 300;
}

@media (max-width: 600px) {
  .pkmn-container {
    width: 400px;
  }

  .search-container {
    width: 400px;
  }

  main {
    min-width: 400px;
  }

  .pkmn-stats-table {
    width: 400px;
  }

  .search-label {
    font-size: 1.3rem;
  }

  input {
    width: 57.5%;
  }
}

@media (orientation: landscape) {
  main {
    height: 100vh;
  }
}
